


<header style="display:flex; align-items:center;">

    <a href="{{ '/' | url }}" style="flex:0 0 auto;">
        <img src="https://websitebilder.b-cdn.net/giants/slug.gif" alt="Slug" style="height:50px; width:auto; max-width:100%; display:block;">
    </a>

    <div style="flex:1 1 auto; display:flex; justify-content:center; min-width:0;">
        <a href="{{ '/' | url }}">
            <img src="https://websitebilder.b-cdn.net/giants/georgesippgames_splashscreen4_sm.png" alt="GeorgeSippGames Logo"
             style="max-height:50px; width:auto; max-width:100%; display:block;">
        </a>
    </div>

</header>