<header >
        <a href="{{ '/' | url }}" >
        <img src="https://websitebilder.b-cdn.net/giants/slug.gif" alt="Slug" class="slug-image" height="50" width=auto align="left">
        </img>
        </a>

        <a href="{{ '/' | url }}" >
        <img src="https://websitebilder.b-cdn.net/giants/georgesippgames_splashscreen4_sm.png"
         alt="GeorgeSippGames Logo" height="50" width=auto>
            </img>
        </a>


</header>